{% extends 'basic_app/base.html' %}


{% block content%}
<p>Here is the Employee_list</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Emp Code</th>
        <th scope="col">Mobile</th>
        <th scope="col">Position</th>
        <th scope="col">
            <a href="{% url 'Emp_form' %}"><button class="btn btn-success"> Create Form</button>
        </a>
        </th>
      </tr>
    </thead>
    <tbody>
        {% for e in emps%}
      <tr>
        <td>{{e.name}}</td>
        <td>{{e.emp_code}}</td>
        <td>{{e.mobile}}</td>
        <td>{{e.position}}</td>
        <td><a href="{% url 'Emp_update' e.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
        <a href="{% url 'Emp_delete' e.id %}"><i class="fa-solid fa-trash ml-5"></i></a></td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}